* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}
.container {
  text-align: center;
  margin-top: 10%;
}
.h1 {
  font-size: 40px;
  font-weight: bolder;
}

.h2 {
  font-size: 20px;
}

.search-field {
  padding: 5px 20px;
  border-radius: 5px;
}
.card-main {
  display: none;
}
.card-definitions {
  display: none;
}

.card-etymology {
  display: none;
}

.card-recent-searches {
  display: none;
}
.word {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid;
  margin: 40px;
  padding: 10px;
  height: 350px;
  width: 400px;
  border-radius: 5px;
}
.day {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}
