/* Declare Global CSS Variables */
:root {
  --color-black: #000000;
  --color-white: #fff;
  --color-navy: #233142;
  --color-blue-gray: #455d7a;
  --color-salmon: #f95959;
  --color-gray: #e3e3e3;
}

/* General Styling */
body {
  background-size: 100%;
  background-image: url("../images/pexels-alex-conchillos-3648850.jpg");
}
.hidden {
  display: none;
}

/* Header Styling */
.main-title {
  font-size: 3rem;
  color: var(--color-white);
}

.subtitle {
  font-size: 1rem;
  color: var(--color-white);
}

.btn-random {
  border-radius: 25px;
  padding: 10px 15px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Search Section Styling */
.search {
  margin: 0 auto;
  position: relative;
}

.search input {
  height: 40px;
}

.search input:focus {
  box-shadow: none;
  border: 4px solid var(--color-blue-gray);
}

.search .fa-microphone {
  position: absolute;
  top: 10px;
  right: 60px;
}

.search .fa-search {
  position: absolute;
  top: 10px;
  right: 30px;
}

/* Main Definition Section Styling */
#main-content {
  border-radius: 20px;
  color: var(--color-white);
  min-height: 10vh;
  width: 100%;
}

.summary-container {
  height: 50vh;
  margin: 0 auto;
  padding-top: 20px;
  width: 75%;
}

.summary-container p {
  padding: 0 10px;
}

img {
  width: 50%;
  border-radius: 5 px;
  margin: 10 px 0;
}

/* Definition Slider Styling */
.example {
  font-style: italic;
}

.synonyms ul,
.antonyms ul {
  margin: 0;
  padding: 0;
}

.synonyms li,
.antonyms li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

/* Past Searches Styling */
.history-cont {
  background-color: var(--color-white);
  border-radius: 20px;
  height: 20vh;
  margin: 5em auto;
  padding: 20px;
  width: 75%;
}

.history-cont h2 {
  display: inline-block;
}

.search-entry {
  background-color: var(--color-white);
  border: none;
  text-decoration: underline;
}

.btn-reset {
  background-color: transparent;
  display: inline-block;
  border-radius: 25px;
  margin: 10px;
  padding: 5px 7px;
}
